# Python Task 1

In [2]:
import numpy as np
import pandas as pd

In [3]:
data = pd.read_csv(r"C:\Users\lenovo\Downloads\dataset-1.csv")

In [4]:
data

     id_1  id_2  route   moto    car     rv   bus  truck
0     829   827      1   2.05   4.14   4.14  10.1   15.2
1     829   821      4   6.63  13.26  13.26  32.4   48.5
2     829   804      7  14.41  28.92  28.92  64.7   97.0
3     829   822      6   5.90  11.81  11.81  28.8   43.2
4     829   826      9   2.87   5.81   5.81  14.2   21.2
..    ...   ...    ...    ...    ...    ...   ...    ...
336   803   802      3   1.70   3.40   3.40   6.9   10.3
337   803   805      4   3.00   6.00   6.00  12.0   17.9
338   803   825      3  11.59  23.28  23.28  50.1   75.2
339   803   806      9   3.80   7.70   7.70  15.3   23.0
340   803   830      1  16.18  32.47  32.47  72.6  108.8

[341 rows x 8 columns]

In [5]:
data[['id_1','id_2']]

     id_1  id_2
0     829   827
1     829   821
2     829   804
3     829   822
4     829   826
..    ...   ...
336   803   802
337   803   805
338   803   825
339   803   806
340   803   830

[341 rows x 2 columns]

Question 1: Car Matrix Generation

Under the function named generate_car_matrix write a logic that takes the dataset-1.csv as a DataFrame. Return a new DataFrame that follows the following rules:

values from id_2 as columns
values from id_1 as index
dataframe should have values from car column
diagonal values should be 0.

In [6]:
data1=data.pivot(index='id_1',columns='id_2',values='car')
data1.values[[range(len(data1))]*2] =0
data1

C:\Users\lenovo\AppData\Local\Temp\ipykernel_17004\3862686279.py:2: FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use `arr[tuple(seq)]` instead of `arr[seq]`. In the future this will be interpreted as an array index, `arr[np.array(seq)]`, which will result either in an error or a different result.
  data1.values[[range(len(data1))]*2] =0

id_2,801,802,803,804,805,806,807,808,809,821,822,823,824,825,826,827,829,830,831
id_1,,,,,,,,,,,,,,,,,,,
801,0.00,2.80,6.00,7.70,11.70,13.40,16.90,19.60,21.00,23.52,24.67,26.53,27.92,29.08,30.87,32.53,36.32,38.27,39.24
802,2.80,0.00,3.40,5.20,9.20,10.90,14.30,17.10,18.50,20.92,22.07,23.93,25.32,26.48,28.27,29.93,33.72,35.67,36.64
803,6.00,3.40,0.00,2.00,6.00,7.70,11.10,13.90,15.30,17.72,18.87,20.73,22.12,23.28,25.07,26.73,30.52,32.47,33.44
804,7.70,5.20,2.00,0.00,4.40,6.10,9.50,12.30,13.70,16.12,17.27,19.13,20.52,21.68,23.47,25.13,28.92,30.87,31.84
805,11.70,9.20,6.00,4.40,0.00,2.00,5.40,8.20,9.60,12.02,13.17,15.03,16.42,17.58,19.37,21.03,24.82,26.77,27.74
806,13.40,10.90,7.70,6.10,2.00,0.00,3.80,6.60,8.00,10.42,11.57,13.43,14.82,15.98,17.77,19.43,23.22,25.17,26.14
807,16.90,14.30,11.10,9.50,5.40,3.80,0.00,2.90,4.30,6.82,7.97,9.83,11.22,12.38,14.17,15.83,19.62,21.57,22.54
808,19.60,17.10,13.90,12.30,8.20,6.60,2.90,0.00,1.70,4.12,5.27,7.13,8.52,9.68,11.47,13.13,16.92,18.87,19.84
809,21.00,18.50,15.30,13.70,9.60,8.00,4.30,1.70,0.00,2.92,4.07,5.93,7.32,8.48,10.27,11.93,15.72,17.67,18.64
821,23.52,20.92,17.72,16.12,12.02,10.42,6.82,4.12,2.92,0.00,1.80,3.67,5.06,6.22,8.01,9.43,13.26,15.17,16.15
822,24.67,22.07,18.87,17.27,13.17,11.57,7.97,5.27,4.07,1.80,0.00,2.21,3.60,4.76,6.55,8.00,11.81,13.74,14.68
823,26.53,23.93,20.73,19.13,15.03,13.43,9.83,7.13,5.93,3.67,2.21,0.00,1.79,2.94,4.74,6.15,10.00,11.89,12.87
824,27.92,25.32,22.12,20.52,16.42,7.80,11.22,8.52,7.32,5.06,3.60,1.79,0.00,1.71,3.50,4.92,8.77,10.66,11.64
825,29.08,26.48,23.28,21.68,17.58,15.98,12.38,9.68,8.48,6.22,4.76,2.94,1.71,0.00,2.20,3.65,7.46,9.35,10.33
826,30.87,28.27,25.07,23.47,19.37,17.77,14.17,11.47,10.27,8.01,6.55,4.74,3.50,2.20,0.00,2.05,5.81,7.71,8.69
827,32.53,29.93,26.73,25.13,21.03,19.43,15.83,13.13,11.93,9.43,8.00,6.15,4.92,3.65,2.05,0.00,4.14,6.06,7.04
829,36.32,33.72,30.52,28.92,24.82,23.22,19.62,16.92,15.72,13.26,11.81,10.00,21.40,7.46,5.81,4.14,0.00,2.38,3.36
830,38.27,35.67,32.47,30.87,26.77,25.17,21.57,18.87,17.67,15.17,13.74,11.89,10.66,NaN,7.71,6.06,2.38,0.00,1.39
831,39.24,36.64,33.44,31.84,27.74,26.14,22.54,19.84,18.64,16.15,14.68,12.87,11.64,10.33,8.69,7.04,3.36,1.39,0.00

Question 2: Car Type Count Calculation

Create a Python function named get_type_count that takes the dataset-1.csv as a DataFrame. Add a new categorical column car_type based on values of the column car:

low for values less than or equal to 15,
medium for values greater than 15 and less than or equal to 25,
high for values greater than 25.
Calculate the count of occurrences for each car_type category and return the result as a dictionary. Sort the dictionary alphabetically based on keys.

In [11]:
import pandas as pd

def get_type_count(df):
    
    df['car_type'] = pd.cut(df['car'], bins=[-float('inf'), 15, 25, float('inf')], labels=['low', 'medium', 'high'])
    
    
    type_counts = df['car_type'].value_counts().to_dict()
    
    
    sorted_type_counts = dict(sorted(type_counts.items()))
    
    return sorted_type_counts

dataset_2 = pd.read_csv(r"C:\Users\lenovo\Downloads\dataset-1.csv")

result = get_type_count(dataset_2)

print(result)

{'high': 56, 'low': 196, 'medium': 89}

Question 3: Bus Count Index Retrieval

Create a Python function named get_bus_indexes that takes the dataset-1.csv as a DataFrame. The function should identify and return the indices as a list (sorted in ascending order) where the bus values are greater than twice the mean value of the bus column in the DataFrame.

In [12]:
import pandas as pd

def get_bus_indexes(df):
    mean_bus = df['bus'].mean()
    
    bus_indexes = df[df['bus'] > 2 * mean_bus].index.tolist()
    
    bus_indexes.sort()
    
    return bus_indexes

dataset_3 = pd.read_csv(r"C:\Users\lenovo\Downloads\dataset-1.csv")

result = get_bus_indexes(dataset_3)
print(result)

[2, 7, 12, 17, 25, 30, 54, 64, 70, 97, 144, 145, 149, 154, 160, 201, 206, 210, 215, 234, 235, 245, 250, 309, 314, 319, 322, 323, 334, 340]

Question 4: Route Filtering

Create a python function filter_routes that takes the dataset-1.csv as a DataFrame. The function should return the sorted list of values of column route for which the average of values of truck column is greater than 7.

In [13]:
import pandas as pd

def filter_routes(df):
    route_avg_truck = df.groupby('route')['truck'].mean()
    
    filtered_routes = route_avg_truck[route_avg_truck > 7].index.tolist()
    
    filtered_routes.sort()
    
    return filtered_routes

dataset_4 = pd.read_csv(r"C:\Users\lenovo\Downloads\dataset-1.csv")

result = filter_routes(dataset_4)
print(result)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

Question 5: Matrix Value Modification

Create a Python function named multiply_matrix that takes the resulting DataFrame from Question 1, as input and modifies each value according to the following logic:

If a value in the DataFrame is greater than 20, multiply those values by 0.75,
If a value is 20 or less, multiply those values by 1.25.
The function should return the modified DataFrame which has values rounded to 1 decimal place.

In [14]:
data1[data1 > 20] *= 0.75
data1[(data1 <= 20) & (data1 >= 0)] *= 1.25
    
    
data5= data1.round(1)
data5

id_2,801,802,803,804,805,806,807,808,809,821,822,823,824,825,826,827,829,830,831
id_1,,,,,,,,,,,,,,,,,,,
801,0.0,4.4,9.4,12.0,18.3,20.9,19.8,23.0,24.6,20.7,21.7,23.3,19.6,20.4,21.7,22.9,20.4,21.5,22.1
802,4.4,0.0,5.3,8.1,14.4,17.0,22.3,20.0,21.7,24.5,19.4,21.0,22.3,23.3,19.9,21.0,23.7,20.1,20.6
803,9.4,5.3,0.0,3.1,9.4,12.0,17.3,21.7,23.9,20.8,22.1,24.3,19.4,20.5,22.0,18.8,21.5,22.8,23.5
804,12.0,8.1,3.1,0.0,6.9,9.5,14.8,19.2,21.4,18.9,20.2,22.4,24.0,19.1,20.6,22.1,20.3,21.7,22.4
805,18.3,14.4,9.4,6.9,0.0,3.1,8.4,12.8,15.0,18.8,20.6,23.5,19.2,20.6,22.7,24.6,21.8,18.8,19.5
806,20.9,17.0,12.0,9.5,3.1,0.0,5.9,10.3,12.5,16.3,18.1,21.0,23.2,25.0,20.8,22.8,20.4,22.1,23.0
807,19.8,22.3,17.3,14.8,8.4,5.9,0.0,4.5,6.7,10.7,12.5,15.4,17.5,19.3,22.1,24.7,23.0,19.0,19.8
808,23.0,20.0,21.7,19.2,12.8,10.3,4.5,0.0,2.7,6.4,8.2,11.1,13.3,15.1,17.9,20.5,19.8,22.1,23.2
809,24.6,21.7,23.9,21.4,15.0,12.5,6.7,2.7,0.0,4.6,6.4,9.3,11.4,13.3,16.0,18.6,24.6,20.7,21.8
821,20.7,24.5,20.8,18.9,18.8,16.3,10.7,6.4,4.6,0.0,2.8,5.7,7.9,9.7,12.5,14.7,20.7,23.7,18.9
822,21.7,19.4,22.1,20.2,20.6,18.1,12.5,8.2,6.4,2.8,0.0,3.5,5.6,7.4,10.2,12.5,18.5,21.5,22.9
823,23.3,21.0,24.3,22.4,23.5,21.0,15.4,11.1,9.3,5.7,3.5,0.0,2.8,4.6,7.4,9.6,15.6,18.6,20.1
824,19.6,22.3,19.4,24.0,19.2,12.2,17.5,13.3,11.4,7.9,5.6,2.8,0.0,2.7,5.5,7.7,13.7,16.7,18.2
825,20.4,23.3,20.5,19.1,20.6,25.0,19.3,15.1,13.3,9.7,7.4,4.6,2.7,0.0,3.4,5.7,11.7,14.6,16.1
826,21.7,19.9,22.0,20.6,22.7,20.8,22.1,17.9,16.0,12.5,10.2,7.4,5.5,3.4,0.0,3.2,9.1,12.0,13.6
827,22.9,21.0,18.8,22.1,24.6,22.8,24.7,20.5,18.6,14.7,12.5,9.6,7.7,5.7,3.2,0.0,6.5,9.5,11.0
829,20.4,23.7,21.5,20.3,21.8,20.4,23.0,19.8,24.6,20.7,18.5,15.6,18.8,11.7,9.1,6.5,0.0,3.7,5.2
830,21.5,20.1,22.8,21.7,18.8,22.1,19.0,22.1,20.7,23.7,21.5,18.6,16.7,NaN,12.0,9.5,3.7,0.0,2.2
831,22.1,20.6,23.5,22.4,19.5,23.0,19.8,23.2,21.8,18.9,22.9,20.1,18.2,16.1,13.6,11.0,5.2,2.2,0.0

Question 6: Time Check

You are given a dataset, dataset-2.csv, containing columns id, id_2, and timestamp (startDay, startTime, endDay, endTime). The goal is to verify the completeness of the time data by checking whether the timestamps for each unique (id, id_2) pair cover a full 24-hour period (from 12:00:00 AM to 11:59:59 PM) and span all 7 days of the week (from Monday to Sunday).

Create a function that accepts dataset-2.csv as a DataFrame and returns a boolean series that indicates if each (id, id_2) pair has incorrect timestamps. The boolean series must have multi-index (id, id_2).

In [15]:
df=pd.read_csv(r"C:\Users\lenovo\Downloads\dataset-2.csv")
df

,id,name,id_2,startDay,startTime,endDay,endTime,able2Hov2,able2Hov3,able3Hov2,able3Hov3,able5Hov2,able5Hov3,able4Hov2,able4Hov3
0,1040000,Montgomery,-1,Monday,05:00:00,Wednesday,10:00:00,3.0,3.0,-1.0,-1,3,3,3,3
1,1040010,Black,-1,Monday,10:00:00,Friday,15:00:00,6.0,6.0,-1.0,-1,6,6,6,6
2,1040020,Emerald,-1,Thursday,15:00:00,Friday,19:00:00,3.0,3.0,-1.0,-1,3,3,3,3
3,1040030,Foley,-1,Monday,19:00:00,Friday,23:59:59,6.0,6.0,-1.0,-1,6,6,6,6
4,1050000,Whittier,1050001,Saturday,00:00:00,Sunday,23:59:59,6.0,6.0,NaN,-1,6,6,6,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39509,1031012,Baldwin,1031030,Monday,19:00:00,Friday,23:59:59,11.0,11.0,4.0,4,11,11,11,11
39510,1031012,Baldwin,1031032,Saturday,00:00:00,Sunday,23:59:59,11.0,11.0,4.0,4,11,11,11,11
39511,1031014,Thickson,1031016,Saturday,00:00:00,Sunday,23:59:59,11.0,11.0,4.0,4,11,11,11,11
39512,1031014,Thickson,1031018,Monday,05:00:00,Wednesday,10:00:00,8.0,8.0,4.0,4,8,8,8,8
39513,1031014,Thickson,1031020,Monday,10:00:00,Friday,15:00:00,11.0,11.0,4.0,4,11,11,11,11

In [17]:
import pandas as pd

def check_timestamp_completeness(df):
    
    df['start_timestamp'] = pd.to_datetime(df['startTime'])
    df['end_timestamp'] = pd.to_datetime(df['endTime'])

    df['duration'] = df['end_timestamp'] - df['start_timestamp']

    completeness_check = df.groupby(['id', 'id_2']).apply(lambda x: 
        (x['duration'].min() >= pd.Timedelta(days=7)) and 
        (x['start_timestamp'].dt.time.min() <= pd.Timestamp('00:00:00').time()) and 
        (x['end_timestamp'].dt.time.max() >= pd.Timestamp('23:59:59').time())
    )

    return completeness_check

dataset_2 = pd.read_csv(r"C:\Users\lenovo\Downloads\dataset-2.csv")

result = check_timestamp_completeness(dataset_2)

print(result)

id       id_2
1014000  -1          False
1014002  -1          False
1014003  -1          False
1030000  -1          False
          1030002    False
                     ...
1330016   1330006    False
          1330008    False
          1330010    False
          1330012    False
          1330014    False
Length: 9254, dtype: bool